# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Database
db.sqlite3

# IDE
.idea/

# Environment variables
.env

# Claude Code
.claude/

# Docs
documents/

# OS
.DS_Store

# Django collectstatic 결과물
/staticfiles/
